/* App.css */

.login-form {
    background-image: url("../images/1.webp");
    height: 100vh;
    font-size: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    background-attachment: fixed; /* Background is fixed */
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 15px; /* Gap of 15px between elements */
    direction: rtl; /* Right-to-left layout */
  }
  
  .signup-container {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    width: 400px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center; /* Center align text within the container */
  }
  
  .center-stuff {
    align-items: center; /* Center align all child elements */
    text-align: center; /* Center align text within the container */
  }
  
  .footer {
    font-size: 12px;
    margin-top: 20px;
  }
  
  .error-message {
    color: red;
  }
  
  .link {
    font-size: 16px;
    text-decoration: underline;
  }
  