.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar li button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar img {
  height: 30px;
  width: 30px;
}

#contentDiv {
  margin-top: 20px;
}

#contentDiv button {
  padding: 8px 16px;
  background-color: #f2f2f2;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

#contentDiv button:hover {
  background-color: #e0e0e0;
}