.custom-navbar {
  background-color: rgb(12, 57, 103);
}

.custom-logo {
  color: white;
  font-size: 24px;
}

.Nav{
  display: flex;
  justify-content: flex-start;
  background-color: rgb(12, 57, 103);
  align-items: center;
}

.custom-link {
  color: white;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;

}

.custom-link:hover {
  color: rgb(136, 36, 36);
  
}

.custom-logo-img {
  max-width: 100px;
  height: auto;
}
