.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group {
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  display: flex;
  gap: 40px;
  align-items: center;
}


.custom-navbar {
  padding: 10px 0;
}

.custom-link {
  color: #ffffff;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

.custom-link:hover {
  color: #f8f9fa; /* Change the hover color if desired */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-navbar {
  background-color: rgb(209, 216, 223);
}

.custom-logo {
  color: white;
  font-size: 24px;
}

.custom-toggle {
  border-color: white;
}

.custom-link {
  color: white;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
}

.custom-link:hover {
  color: rgb(136, 36, 36);
  
}

.custom-logo-img {
  max-width: 100px;
  height: auto;
}
