/* .container {
     padding-right: 20px; 
    margin-right: 12px;
     width: 22%; 
     margin-top: 15px;
     
}
.bar {
    border: solid 1px black;
    color: white;
    background-color: rgb(32, 30, 30);
    width: 200px;
}
.academicyear{
    margin-left: 20px;
    font-size: 14px;
}
.select{
    display: flex;

}
.selectmenu {
    width: 130px;
    height: 30px;
    margin-right: 3px;
}
.col{
    width: 30%;
}
.butt{
    background-color: black;

}

 */
 .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; /* Adjust margin bottom as needed */
    font-weight: bold;
    font-size: 22px;
  }
  
  .bar p {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
  }
  
  .select {
    display: flex;
    align-items: center;
  }
  
  .select + .select {
    margin-left: 20px; /* Adjust space between selects */
  }
  