.container {
     padding-right: 20px; 
    margin-right: 12px;
     width: 22%; 
     margin-top: 15px;
     
}
.bar {
    border: solid 1px black;
    color: white;
    background-color: rgb(32, 30, 30);
    width: 200px;
}
.academicyear{
    margin-left: 20px;
    font-size: 14px;
}
.select{
    display: flex;

}
.selectmenu {
    width: 130px;
    height: 30px;
    margin-right: 3px;
}
.col{
    width: 30%;
}
.butt{
    background-color: black;

}


